<!-- Header -->
<header class="header">
  <div class="container header__container">
    <div class="header-inner">
      <div class="header__logo">
        <img
          src="/images/logo-technostyle.png"
          alt="ТехноСтиль"
          class="header__logo-img"
        />
        <span class="header__logo-subtitle">Промышленное оборудование</span>
      </div>
      <div class="header__contacts">
        <a href="tel:+78442501188" class="header__contact-item">
          <i class="fas fa-phone"></i>
          +7 (8442) 50-11-88</a
        >
        <a href="https://tlgg.ru/@chudin_da" target="_blank">
          <i class="fab fa-telegram"></i>
          +7 (903) 316-57-70</a
        >
        <a href="mailto:tehnostilvlg@yandex.ru" class="header__contact-item">
          <i class="fas fa-envelope"></i>
          tehnostilvlg@yandex.ru</a
        >
      </div>

      <div class="header__working-hours">
        <i class="fas fa-clock"></i>
        Пн-Пт: 9:00-18:00
      </div>
      <div class="header__actions">
        <button class="btn btn--primary btn--callback" data-modal="callback">
          Перезвоните мне
        </button>
        <button class="header__burger" aria-label="Открыть меню">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>
