<!-- Основная навигация -->
<section class="main-menu">
  <div class="container">
    <nav class="main__nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/techno-style/" class="nav__link nav__link--active"
            >ГЛАВНАЯ</a
          >
        </li>
        <li class="nav__item">
          <a href="/techno-style/about/" class="nav__link">О КОМПАНИИ</a>
        </li>
        <li class="nav__item">
          <a href="/techno-style/equipment/" class="nav__link">ОБОРУДОВАНИЕ</a>
        </li>
        <li class="nav__item">
          <a href="/techno-style/analogs/" class="nav__link"
            >АНАЛОГИ И ЗАМЕНА</a
          >
        </li>
        <li class="nav__item">
          <a href="/techno-style/partners/" class="nav__link">ПАРТНЕРЫ</a>
        </li>
        <li class="nav__item">
          <a href="/techno-style/contacts/" class="nav__link">КОНТАКТЫ</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
