<!-- Header -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-content">
                    <div class="header__contacts">
                        <a href="tel:+74955554433" class="header__contact-item">
                            <i class="fas fa-phone"></i>
                            +7 (495) 555-44-33
                        </a>
                        <a href="mailto:info@tehnostyle.ru" class="header__contact-item">
                            <i class="fas fa-envelope"></i>
                            info@tehnostyle.ru
                        </a>
                    </div>
                    <div class="header__working-hours">
                        <i class="fas fa-clock"></i>
                        Пн-Пт: 9:00-18:00
                    </div>
                </div>
            </div>
        </div>

        <div class="header__main">
            <div class="container">
                <div class="header__main-content">
                    <div class="header__logo">
                        <img src="/public/images/logo.svg" alt="ТехноСтиль" class="header__logo-img">
                        <div class="header__logo-text">
                            <span class="header__logo-title">ТехноСтиль</span>
                            <span class="header__logo-subtitle">Промышленное оборудование</span>
                        </div>
                    </div>

                    <nav class="header__nav">
                        <ul class="nav__list">
                            <li class="nav__item">
                                <a href="/" class="nav__link nav__link--active">Главная</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/about.html" class="nav__link">О компании</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/equipment.html" class="nav__link">Оборудование</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/analogs.html" class="nav__link">Аналоги и замена</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/partners.html" class="nav__link">Партнеры</a>
                            </li>
                            <li class="nav__item">
                                <a href="/pages/contacts.html" class="nav__link">Контакты</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="header__actions">
                        <button class="btn btn--primary btn--callback" data-modal="callback">
                            Обратный звонок
                        </button>
                        <button class="header__burger" aria-label="Открыть меню">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>